.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  img {
    height: 70px;
    width: 70px;
    

  }
  .text {
      float: left;;
    
  }
  .button {
      float:left;
  }
  table{
      width:570px;
      background-color: #3498db;
      color: white;
      padding: 20px;
      position: relative;
   
      
  }


  a{
      text-decoration: #ccc;
      color: white;
      
  }
  .right{
      padding-left:170px;
  }
  
a:hover {
    position: relative;
    text-decoration: underline;
  }
  
  a[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    position: fixed;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    background:#464944;
  }

  p {
    font-family: "Arial", Times, serif;
  }

  .bottom{  
    position: absolute;
    margin-top: 30px;
     
  }

  .searchInput {
    display: flex;
    float: right;
    margin-top: 80px;
    
    
  }
  
  #searchbox {
    background-color: white;
    border-radius: 5px;
    border-color: black;
    padding: 3px 5px 3px 5px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .inpWrapper {
    margin: auto;
    font-family: "Arial", Times, serif;
  }
  
  
  #searchbox:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 10px black;
  }
  
  #searchbutton {
    margin: 0 auto;
    margin-top: 10px;
    background-color: black;
    border-color: white;
    color: white;
    font-size: 20px;
  }
  
  #searchbutton:active {
    outline: none;
    border-color: black;
    box-shadow: 0 0 10px black;
  }
  
  #searchbutton:focus {
    outline-color: white;
    border-color: none;
    box-shadow: 0 0 10px black;
  }
  
  #searchbutton:hover {
    cursor: pointer;
  }

 